* {
  margin: 0;
  padding: 0;
}


.card {
  height: 100%;
}

.col {
  margin: 10px;
}

.searched_title {
  max-height: 100px;
}

.container {
  padding: 10px;
}

.random_movie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
